# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example

# Virtual environments
venv/
env/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
*.sqlite3

# Docker
docker-data/
docker-volumes/
*.pid

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

# OS
Thumbs.db
